NODE_ENV=development
PORT=4000
DB_CLIENT=postgres
POSTGRES_URL=******postgres:5432/hr
MYSQL_URL=******mysql:3306/hr
MONGODB_URL=mongodb://mongodb:27017/hr
POSTGRES_DB=hr
POSTGRES_USER=hr
POSTGRES_PASSWORD=hrpassword
MYSQL_DATABASE=hr
MYSQL_USER=hr
MYSQL_PASSWORD=hrpassword
MYSQL_ROOT_PASSWORD=rootpassword
MONGO_INITDB_DATABASE=hr
VITE_API_BASE_URL=http://localhost:4000/api
